
<div id="container">


<div class="profile_image">

<%= image_tag ("icon-user-default.png"), width: 300, height: 300, alt: 'a face' %>

</div>

<div class="name_div">

Name:<%= @profile.try(:name) %>

</div>

<div class="address_div">
Address:<%= @profile.try(:address) %>
</div>

<div class="edit_profile">
<%= link_to 'edit your profile', edit_user_profile_path(current_user) %>
</div>

</div>
