
<div id="container">

<div class="name_div">

Name:<%= @profile.try(:name) %>

</div>

<div class="profile_image">

<%= image_tag ("icon-user-default.png"), width: 300, height: 300, alt: 'a face' %>

</div>

<%= link_to 'edit your profile', edit_profile_path(current_user) %>

</div>
