
#container {
 margin:0 auto;
 margin-top: 20px;
 width:500px;
 height:auto;
 background:#ccc;
}

#wrapper {
 margin:0 auto;
 width:450px;
 height:450px;
 background-color: pink;
}

.profile_image, .name_div,
.address_div, .edit_profile {
 text-align: center;
 margin-top: 10px;
}

.profile_image {
 padding-top: 10px;
}
