<div class="container text-center">
  <h1>Rent this bike now!</h1>
  <div class="form-box">

  <%= simple_form_for [@location, @bike, @booking], html: { class: 'form-horizontal' } do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.button :submit %>
  <% end %>


  </div>
</div>
