

<div class="show-box">

<h1>Details of your bike rental</h1>
<%= @user %>
<p> Your rental will start on <%= @booking.start_date %> </p>
<p> Your rental will end on <%= @booking.end_date %> </p>
<p> Your booking id is <%= @booking.id %> </p>

</div>
