<div class="text-center">
  <h3>Book This Bike!</h3>
  <div class="form-box">

  <%= simple_form_for [@location, @bike, @booking], html: { class: 'form-horizontal' } do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.button :submit, class: "btn btn-treehouse" %>
  <% end %>


  </div>
</div>
