<div class="footer-dark" id="footer">
  <footer class="container">
    <div class="row">
      <div class="col-md-6 col-sm-offset-1 col-md-offset-3">
        <div class="lang-curr-picker" id="lang-curr-picker">
          <div class="language-picker">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Language
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">English</a></li>
                <li><a href="#">French</a></li>
              </ul>
            </div>
          </div>
          <div class="currency-picker">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Currency
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li><a href="#">Euro</a></li>
                <li><a href="#">Dollar</a></li>
                <li><a href="#">Pound</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <ul class="list-inline text-center padded-top-bottom">
        <li><a href="#">About</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Press</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Terms & Privacy</a></li>
      </ul>
    </div>
    <div class="text-center">
      <ul class="list-inline space-top">
        <li><a href="#" class="footer-icon-container"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#" class="footer-icon-container"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#" class="footer-icon-container"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" class="footer-icon-container"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#" class="footer-icon-container"><i class="fa fa-pinterest-p"></i></a></li>
        <li><a href="#" class="footer-icon-container"><i class="fa fa-youtube-play"></i></a></li>
        <li><a href="#" class="footer-icon-container"><i class="fa fa-instagram"></i></a></li>
      </ul>
      <div class="text-muted space-top">
        © Airbnb, Inc.
      </div>
    </div>
  </footer>
</div>
