<h1>Pages#welcome</h1>
<p>Find me in app/views/pages/welcome.html.erb</p>


<%= link_to "sign out", destroy_user_session_path, method: "delete", class: "btn" %>

<%= link_to "my_profile", profile_path(current_user), class: "btn" %>
