// Your footer style
.footer-dark {
  padding: 50px 12.5px;
  color: #FFF;
  background-color: #2b2d2e;
  background-image: url(https://a0.muscache.com/airbnb/static/footer/background-317dd7c2cb678ddbdb0a983d511cb9a0.png);
}
#footer {
  //position:fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
#footer a {
  color: #fff;
  font-size: 15px;
  line-height: 1.1;
  text-decoration: none;
  transition: all 0.25s ease;
}
#footer a:hover {
  text-decoration: none;
  outline: none;
  color: #cacccd;
}
.footer-icon-container {
  border-color: #aaa;
  border-color: rgba(255,255,255,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  text-align: center;
}
.footer-dark .btn {
  background-color: #565a5c;
  border: 0;
  color: #fff;
  width: 100%;
  margin-bottom: 12.5px;
  padding: 10px 0;
}
.lang-curr-picker {
  margin-bottom: 25px;
}
#lang-curr-picker .dropdown-menu li a {
  color: #565a5c;
}
.dropdown-menu {
  width: 100%;
  text-align: center;
  border-radius: 4px;
}
