.btn-medium {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}
.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #05D2F7;
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #2381D0;
  text-decoration: none;
  color: white;
}
.button-content {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-borderline {
  border: 2px solid white;
  padding: 10px 15px;
  font-weight: light;
}
/* Build your own button classes ! */
