.container {
  margin-bottom: 40px;
}
.container-local {
  margin-left: 10px;
  margin-right: 10px;
}
.container-bottom-padding {
  margin-bottom: 30px;
}
.container-logos {

}
.logos-container {
  margin-top: 80px;
}
.logos-margin {
  margin-bottom: 50px;
}
.logos img {
  width: 100px;
  height: 13vh;
}
.scrollable {
    height: 600px; /* or any value */
    overflow-y: auto;
    padding-right: 0;
    padding-left: 0;
}
.scrollable img {
  object-fit: cover;
}
.bike-maps-padding {
  background-size: cover !important;
}
